*{
    padding: 0px;
    margin: 0px;
    background-color: black;

    
}

DIV{
    text-align: center;
    margin-top: 250px;
    text-align: center;
}
.choose_file{
    color: white;
    margin: 4px;
    margin-left: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;

}
.detect_btn{
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.input{
    background-color: white;
    width: 320px;
    height: 150px;
    text-align: start;
}